body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  height: 230px;
}

.header > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex: 1;
  position: relative;
  z-index: 2;
}

.header > div:nth-child(1) .items {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 30px;
  flex: 1;
}

.header > div:nth-child(1) .items > .title {
  font-size: 28px;
  font-weight: 600;
}

.items-title-blackButton {
  display: none;
}

.header > div:nth-child(1) .items > p {
  color: rgb(174, 0, 4);
  font-size: 22px;
  font-weight: 400;
}

.button {
  color: rgb(174, 0, 4);
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(174, 0, 4);
  font-weight: bold;
  transition: 0.5s;
  font-size: 13px;
  box-sizing: border-box;
  padding: 5px 30px;
  width: max-content;
  cursor: pointer;
}

.header > div:nth-child(1) .items button:hover {
  background-color: rgb(174, 0, 4);
  color: white;
}

.header > div:nth-child(1) .hd-img {
  position: relative;
  overflow: hidden;
  display: flex;
  margin-right: -48%;
}

.header > div:nth-child(1) .hd-img img {
  display: block;
  width: 300px;
  margin: 0;
}

.header > div:nth-child(2) {
  display: flex;
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
  background-color: rgb(174, 0, 4);
  flex: 1;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0;
  position: relative;
}

.header > div:nth-child(2) > .items {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  margin-left: 40%;
}

.header > div:nth-child(2) > .items > div:nth-child(1) {
  background-color: white;
  color: rgb(174, 0, 4);
  margin-bottom: 25px;
  border-radius: 100%;
  text-align: center;
  padding: 25px;
  font-weight: bold;
  box-sizing: border-box;
}

.header > div:nth-child(2) > .items > div:nth-child(2) {
  background-color: black;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  box-sizing: border-box;
  font-size: 13px;
  font-style: italic;
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(174, 0, 4);
  margin: 5px 0;
  padding: 0 5px;
}

.header-bar-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

:root {
  --bar-item-size: 35px;
}

.header-bar-item > div:nth-child(1) {
  background-color: black;
  border-radius: 100%;
  color: white;
  height: var(--bar-item-size);
  width: var(--bar-item-size);
  min-width: var(--bar-item-size);
  font-size: 20px;
  padding: 3px;
  font-weight: bold;
  display: flex;
}

.header-bar-item > div:nth-child(2) {
  margin-left: 10px;
  color: white;
}

/* CAROUSEL */

.carousel {
  position: relative;
  height: 300px;
  width: 80%;
  margin: 0 auto;
}

.carousel-image img {
  object-fit: contain;
  width: 150px;
  height: 210px;
  padding-left: 30px;
}

.carousel-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-slide-title {
  font-size: 25px;
  box-sizing: border-box;
  padding: 10px 20px 20px 0;
  text-align: justify;
  font-weight: bold;
}

.carousel-slide-description {
  padding: 10px 20px 20px 0;
}

.carousel-slide-button:hover {
  background: rgb(174, 0, 4);
  color: white;
  cursor: pointer;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 1.5px solid grey;
  border-radius: 100%;
  cursor: pointer;
  height: 35px;
  width: 35px;
  box-shadow: 0px 0px 30px 0px rgba(190, 190, 190, 0.38);
}

.carousel-button span {
  font-size: 20px;
  color: grey;
  margin-top: -2px;
}

.carousel-button-left {
  left: -60px;
}

.carousel-button-right {
  right: -60px;
}

.carousel-button img {
  width: 12px;
}

.carousel-nav {
  display: flex;
  flex-direction: row;
}

.carousel-indicator {
  border: 10px 5px;
  background: black;
  color: white;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 0 1px;
}

.carousel-indicator.current-slide {
  background: rgb(174, 0, 4);
}

.is-hidden {
  display: none;
}

/* END  */
.list {
  display: none;
}
.image-bar {
  width: 100%;
  box-sizing: border-box;
}

.image-bar img {
  width: 100%;
  display: block;
}

.foot {
  color: white;
  width: 100%;
  height: 350px;
  display: block;
  background: center/cover no-repeat url("images/angular.png");
  display: flex;
  flex-direction: row;
}

.foot > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.foot > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.foot > div > .ft-cont {
  max-width: 300px;
}

.foot > div > .ft-cont > div:nth-child(1) {
  font-size: 30px;
  margin-bottom: 15px;
}

.foot-right button {
  width: max-content;
  background: rgb(174, 0, 4);
  color: white;
  font: italic;
  padding: 7px 20px;
  border: none;
  font-weight: 600;
  margin-bottom: 15px;
  transition: 0.5s;
  cursor: pointer;
}

.foot-right button:hover {
  background-color: white;
  color: rgb(174, 0, 4);
  transform: scale(1.3);
}

.foot-right > div:nth-child(2) {
  font-weight: 800;
}

.foot-right > div:nth-child(4) {
  font-weight: 800;
}

.foot-message {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.foot-message button:hover {
  background-color: rgb(174, 0, 4);
  color: white;
}

.foot-message div {
  font-weight: 600;
  font-size: 25px;
  padding: 15px;
}

.footer {
  color: grey;
  margin: 26px 2px;
  text-align: center;
}

.footer a {
  color: grey;
}

@media screen and (max-width: 996px) {
  .items-title-blackButton {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: -35px 0 0 130px;
    font-weight: 600;
    box-sizing: border-box;
    font-size: 13px;
    font-style: italic;
    width: max-content;
  }
  .header > div:nth-child(1) .hd-img img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header > div:nth-child(1) .items > .title {
    font-size: 28px;
    font-weight: 500;
  }

  .header > div:nth-child(2) {
    clip-path: none;
    background: none;
  }

  .button {
    color: rgb(174, 0, 4);
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(174, 0, 4);
    font-weight: bold;
    transition: 0.5s;
    font-size: 13px;
    box-sizing: border-box;
    padding: 5px 30px;
    width: max-content;
    cursor: pointer;
  }

  .header > div:nth-child(2) > .items > div:nth-child(1) {
    background-color: rgb(174, 0, 4);
    color: white;
    margin-bottom: 0;
  }

  .header > div:nth-child(2) > .items > div:nth-child(2) {
    display: none;
  }

  .header-bar {
    display: flex;
    flex-direction: column;
    background: none;
    margin: 5px 0;
    padding: 0;
  }

  .header-bar-item {
    margin: 2px 0;
    padding: 10px;
    background: rgb(174, 0, 4);
  }

  .carousel-nav {
    display: none;
  }

  .carousel {
    display: none;
  }

  .list {
    display: inline;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .list .list-item {
    margin: 5px 0;
  }

  .list .list-item .list-button {
    background: black;
    color: white;
    font-weight: 600;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.5s;
  }

  .list .list-item .list-button:hover {
    background: rgb(174, 0, 4);
  }

  .list .list-item .list-content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    text-align: justify;
    overflow: hidden;
    height: 0;
  }

  .list .list-item.active .list-content {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 20px;
  }

  .list .list-item.active .list-button {
    background: rgb(174, 0, 4);
  }

  .list-car-button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .apply-button {
    margin-left: auto;
    margin-right: auto;
  }

  .foot {
    height: 280px;
  }

  .foot > div:nth-child(1) {
    flex: 1;
    align-items: stretch;
    justify-content: flex-end;
  }

  .foot > div:nth-child(2) {
    flex: 0;
  }

  .foot > div > .ft-cont {
    max-width: 100%;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
  }

  .foot-right div {
    display: none;
  }

  .foot-right button {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .header > div:nth-child(1) .items > .title {
    font-size: 19px;
    font-weight: 600;
    margin-top: 20px;
  }

  .header > div:nth-child(1) .items > p {
    margin-top: 30px;
    font-size: 18px;
  }

  .items-title-blackButton {
    padding: 8px 10px;
    margin: -31px 0 0 87px;
    font-size: 10px;
  }

  .button {
    margin-top: 30px;
  }

  .foot {
    height: 240px;
  }

  .foot > div > .ft-cont > div:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
  }

  .foot > div > .ft-cont > div:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 320px) {
  .header > div:nth-child(1) .items > .title {
    font-size: 20px;
    font-weight: 600;
  }

  .header > div:nth-child(1) .items > p {
    font-size: 13px;
  }

  .items-title-blackButton {
    display: none;
  }

  .header > div:nth-child(2) > .items > div:nth-child(1) {
    margin-right: 35px;
    padding: 16px;
  }

  .carousel {
    display: none;
  }

  .foot {
    height: 210px;
  }

  .foot > div > .ft-cont > div:nth-child(1) {
    font-size: 16px;
  }

  .foot > div > .ft-cont > div:nth-child(2) {
    font-size: 12px;
  }
}
